.admin{
    margin: 0 auto;
    width: 95%;
    height:max-content; 
    height:auto;
    border-style:ridge;
    border-color:whitesmoke ;
    border-radius: 50px;
    text-align: center;
    background-color: aliceblue;
    display:flex
    
}

#vertical_menu{
    width: 10%;
   
    margin: 0px;
    border-color:whitesmoke ;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    font-family:sans-serif;
    font-weight:500;
    
    background-color:rgb(33, 53, 85);
    color:white;
   
}
#vertical_menu ul{
    margin: 0;
    padding: 0; 
    font-size: larger;
}

#vertical_menu ul li:first-child
{
    font-size:x-large;
    height: 70px;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center;
    border-top-left-radius: 50px;
    background-color:rgb(34,40,49);

}
#vertical_menu ul li
{ 
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: left;

   
}

#vertical_menu li a:focus
{
    border: 4px;
    border-radius: 50px;
    background-color: rgb(79, 112, 156);
   
}
#vertical_menu li a
{
   text-decoration: none;
   display: block;
   color:white;
   padding: 20px;
   margin:0px;
}
#right_container {
    width: 90%;
    display:block;
    
    height:auto;
    background-color:aliceblue;
    border-color:whitesmoke ;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}
#taskbar{
    height: 70px;
    width: 100%;
    border-top-right-radius: 50px;
    background-color:rgb(34,40,49);
    color:white;
}
#product{
    width: 100%;
    height: fit-content;
    border-color:black ;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;


}
table, th, td {
    border: 1px solid;
}
table {
    width: 100%;
    border-collapse: collapse;
}
